@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterLight.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterMedium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterSemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterBold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}