<head>
    <meta charset="UTF-8">
    <title>Vacuum trade</title>
    <meta name="description" content="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1 />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" /> 

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png"> -->

    <link rel="stylesheet"  href="css/libs.min.css?v=2" />
    <link rel="stylesheet"  href="css/main.css?v=2" />
</head>