.section-advantage {
    margin-top: 50px;
}
.list-advantage {
    justify-content: space-between;
}
.item-advantage {
    position: relative;
    &:last-child {
        &::before {
            display: none;
        }
    }
    &::before {
        @include pseudo();
        width: 2px;
        height: 27px;
        border-left: 2px dotted #ccc;
        top: 50%;
        right: -11%;
        transform: translateY(-50%);
    }
    .item-advantage__wrapp {
        display: flex;
        align-items: center;
    }
    .item-advantage__img {
        flex: 0 0 56px;
        max-width: 56px;
    }
    .item-advantage__text {
        color: #000;
        padding-left: 20px;
    }
    .item-advantage__title {
        font-weight: 600;
        font-size: 1.7rem;
        position: relative;
        display: inline-block;
        span {
            position: relative;
        }
        &::before {
            background: #FAE100;
            @include pseudo();
            width: 110%;
            height: 105%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }
    .item-advantage__descr {
        display: block;
        margin-top: 3px;
    }
}
@media (max-width: 1300px) {
    .item-advantage {
        &::before {
            right: -22px;
        }
    }
}
@media (min-width: 1201px) {
    .list-advantage {
        .col {
            flex: 0 0 275px;
            max-width: 275px;
            &:first-child {
                flex: 0 0 280px;
                max-width: 280px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .list-advantage {
        margin: 0 -5px;
        .col {
            padding: 0 5px;
        }
    }
    .item-advantage {
        &::before {
            display: none;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .item-advantage {
        .item-advantage__title {
            font-size: 1.5rem;
        }
        .item-advantage__descr {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 991px) {
    .section-advantage {
        margin-top: 0;
    }
    .list-advantage {
        max-width: 600px;
        margin: 0 auto;
        .col {
            flex: 0 0 50%;
            max-width: 50%;
            margin-top: 50px;
        }
    }
}
@media (max-width: 575px) {
    .list-advantage {
        max-width: 300px;
        .col {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}