.footer {
    background: #F5F5F5;
    margin-top: 45px;
    .footer__right {
        flex: 0 0 375px;
        max-width: 375px;
    }
}
.footer-one {
    padding: 40px 0 29px;
    border-bottom: 1px solid #E5E5E5;
    .footer__left, .footer-one__block--menu {
        display: flex;
    }
    .footer-one__block--menu {
        flex: 0 0 320px;
        max-width: 320px;
        justify-content: space-between;
        margin-left: 88px;
        .footer-block--menu {
            flex: 0 0 130px;
            max-width: 130px;
        }
    }
}
.footer-block {
    line-height: 1.4;
    .footer-title {
        font-weight: 600;
        font-size: 1.7rem;
        display: inline-block;
    }
}
.footer-address {
    margin-top: 22px;
    .address__item {
        position: relative;
        padding-left: 28px;
        margin-bottom: 9px;
        color: #000;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            @include sprite-pseudo();
        }
    }
    a {
        color: #000;
        &:hover {
            color: #423FE0;
        }
    }
    .address__item--address {
        &::before {
            @include sprite($footer-address);
        }
    }
    .address__item--email {
        &::before {
            @include sprite($footer-email);
        }
    }
    .address__item--phone {
        &::before {
            @include sprite($footer-phone);
        }
    }
    .address__item--time {
        &::before {
            @include sprite($footer-time);
        }
    }
}
.footer-menu {
    margin-top: 22px;
    li {
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: #000;
        &:hover {
            color: #423FE0;
        }
    }
}
.footer-block--search {
    .btn-modal[data-modal="modal-contact"] {
        cursor: pointer;
        @include all-transition();
        &:hover {
            color: #423FE0;
        }
    }
    .footer-block__descr {
        display: block;
        margin: 22px 0 0;
        line-height: 1.4;
    }
}
.footer-search {
    margin-top: 18px;
    .form-search {
        background: #FFFFFF;
        padding: 5px 5px 5px 0;
        border: 1px solid #D0D0D0;
        border-radius: 4px;
        .input-search, .btn-search {
            border: none;
        }
        .btn-search {
            width: 39px;
            background: #333E47;
            //background: linear-gradient(0deg, #333E47, #333E47), linear-gradient(0deg, #F8F8F8, #F8F8F8);
            border-radius: 3px;
            &::after {
                display: inline-block;
                content: '';
                @include sprite($form-arrow);
            }
            &:hover {
                background: #423FE0;
            }
        }
    }
}
.footer-second {
    padding: 33px 0 28px;
    .footer__right {
        text-align: right;
        a {
            display: inline-block;
        }
    }
    .iso {
        margin-top: 50px;
    }
}
.copy, .politic {
    font-size: 1.3rem;
}
.copy {
    color: #000;
    display: block;
    line-height: 1.4;
    margin: 0;
}
.politic {
    color: #959595;
    display: block;
    max-width: 830px;
    line-height: 1.55;
    margin-top: 15px;
    a {
        color: #959595;
        position: relative;
        display: inline-block;
        margin-right: 14px;
        &::before, &::after {
            background: #959595;
            @include pseudo();
            @include all-transition();
        }
        &::before {
            width: 1px;
            height: 15px;
            top: 4px;
            right: -9px;
            //transform: translateY(-50%);
        }
        &::after {
            width: 100%;
            height: 1px;
            bottom: 1px;
            left: 0; 
        }
        &:hover {
            color: #423FE0;
            &::after {
                opacity: 0;
            }
        }
        &:last-child {
            margin-right: 0;
            &::before {
                display: none;
            }
        }
        & + br {
            display: none;
        }
    }
    .politic__descr {
        line-height: 1.55;
    }
}
@media screen and(min-width: 992px) and (max-width: 1200px) {
    .footer-one {
        .footer-one__block--menu {
            flex: 0 0 270px;
            max-width: 270px;
            margin-left: 25px;
        }
    }
}
@media (max-width: 991px) {
    .footer {
        .footer__left {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .footer-one {
        padding: 40px 0 39px;
        .footer__left {
            justify-content: space-between;
        }
        .footer__right {
            margin-top: 37px;
        }
    }
    .footer-second {
        padding: 33px 0 37px;
        .footer__right {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: left;
            margin-top: 36px;
            .logo {
                margin-right: 50px;
            }
        }
        .iso {
            margin-top: 0;
        }
    }
}
@media (max-width: 767px) {
    .footer-one {
        .footer-one__block--menu {
            flex: 0 0 270px;
            max-width: 270px;
            margin-left: 40px;
        }
    }
}
@media (max-width: 540px) {
    .footer {
        .row {
            display: block;
        }
        .footer__right {
            max-width: 375px;
            margin: 37px auto 0;
        }
    }
    .footer-one {
        padding-top: 34px;
        text-align: center;
        .footer__left {
            display: block;
        }
        .footer-one__block--menu {
            display: none;
        }
    }
    .footer-address {
        .address__item {
            padding-left: 0;
            &::before {
                display: none;
            }
        }
    }
    .politic {
        margin-top: 18px;
        a {
            margin: 0;
            &::before {
                display: none;
            }
            & + br {
                display: block;
            }
        }
    }
    .footer-second {
        padding: 39px 0 27px;
        text-align: center;
        .footer__right {
            .logo, .iso {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
            .logo {
                margin: 0 0 10px;
            }
        }
    }
}
