.header {
    position: relative;
}
/*=== begin header one ===*/
.header-one {
    background: #F5F5F5;
    padding: 9px 0 10px;
    .row {
        justify-content: space-between;
        align-items: center;
    }
    .header-one__second {
        flex: 0 0 300px;
        max-width: 300px;
        display: flex;
        justify-content: flex-end;
    }
}
.top-menu {
    display: flex;
    li {
        margin-right: 28px;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            a {
                color: #423FE0;
                border-bottom-color: #423FE0;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
    a {
        font-size: 1.3rem;
        //color: #2B2B2B;
        color: #0E0E0E;
        @include link-transition();
        border-bottom: 1px solid transparent;
        &:hover {
            color: #423FE0;
            //border-bottom-color: #423FE0;
        }
    }
}
// select city
.city {
    position: relative;
    .city__header {
        font-size: 1.3rem;
        color: #0E0E0E;
        .btn-modal--city {
            background: transparent;
            position: relative;
            border: none;
            cursor: pointer;
            padding-right: 14px;
            &::after {
                @include pseudo();
                @include sprite($list);
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                margin-top: 1px;
            }
            span {
                color: #4D4AE1;
                position: relative;
                border-bottom: 1px solid #4D4AE1;
                @include all-transition();
            }
            &:hover {
                span {
                    border-color: transparent;
                }
            }
        }
    }
    .btn--city {
        font-weight: 500;
        height: 38px;
        padding: 0 20px;
        margin-top: 12px;
    }
}
@media (max-width: 991px) {
    .header-one {
        padding: 8px 0 9px;
        .header-one__second {
            display: none;
        } 
    }
}
@media (max-width: 767px) {
    .header-one {
        .top-menu, .header-one__one, .header-one__second {
            display: none;
        }
        .contact-col {
            display: block;
        }
        .block-contact {
            justify-content: space-between;
            .block-contact__pnone {
                margin-bottom: 0;
            }
            .btn-modal--contact {
                background: #F5F5F5;
                height: 35px;
            }
        }
    }
}
@media (max-width: 420px) {
    .header-one {
        .block-contact {
            .block-contact__pnone {
                font-size: 1.6rem;
            }
            .block-contact__email {
                font-size: 1.2rem;
            }
            .btn-modal--contact {
                font-size: 1rem;
                padding: 0 15px;
            }
        }
    }
}
@media (max-width: 360px) {
    .header-one {
        .block-contact {
            .block-contact__link {
                padding-left: 23px;
            }
            .block-contact__pnone {
                font-size: 1.4rem;
            }
            .block-contact__email {
                font-size: 1rem;
            }
            .block-contact__btn {
                margin-left: 10px;
            }
        }
    }
}
/*=== end header one ===*/
/*=== begin header second ===*/
.header-second {
    padding: 45px 0 36px;
    .row {
        justify-content: space-between;
        align-items: center;
    }
    .contact-col {
        flex: 0 0 427px;
        max-width: 427px;
    }
}
.header-left {
    flex: 0 0 270px;
    max-width: 270px;
    padding-right: 30px;
}
.form-search {
    display: flex;
    height: 46px;
    .input-search, .btn-search {
        display: inline-block;
        height: 100%;
    }
    .input-search {
        border-right: none;
        border-radius: 4px 0 0 4px;
    }
    .btn-search {
        background: #F8F8F8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        border: 1px solid #D0D0D0;
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
        @include all-transition();
        color: #333E47;
        svg {
            fill: #333E47;
            @include all-transition();
            path {
                fill: #333E47;
                @include all-transition();
            }
        }
        &:hover {
            background: #F0F0F0;
            color: #423FE0;
            svg {
                fill: #423FE0;
                path {
                    fill: #423FE0;
                }
            }
        }
    }
}
.block-contact {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    .block-contact__link {
        position: relative;
        display: inline-block;
        color: #0E0E0E;
        padding-left: 27px;
        @include link-transition();
        &::before {
            @include sprite-pseudo();
        }
        &:hover {
            color: #423FE0;
        }
    }
    .block-contact__pnone {
        font-weight: 500;
        font-size: 1.9rem;
        margin-bottom: 2px;
        &::before {
            @include sprite($phone);
            margin-top: -3px;
        }
    }
    .block-contact__email {
        font-size: 1.4rem;
        &::before {
            @include sprite($email);
        }
    }
    .block-contact__contact {
        margin-left: 20px;
        &:first-child {
            margin-left: 0;
        }
    }
    .btn-modal--contact {
        background: #fff;
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding: 0 24px;
        border: 1px solid #423FE0;
        border-radius: 4px;
        cursor: pointer;
        @include link-transition();
        &:hover {
            color: #fff;
            background: #302DB6; 
        }
    }
}
.button-menu {
    background-color: #333E47;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 40px;
    line-height: 40px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    backface-visibility: hidden;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 3px;
    span {
        background-color: #fff;
        position: relative;
        display: inline-block;
        width: 17px;
        height: 2px;
        backface-visibility: hidden;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
        &:before, &:after {
            background-color: inherit;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            backface-visibility: hidden;
            border-radius: 2px;
        }
        &:before {
            transform: translate3d(0,-200%,0);
        }
        &:after {
            transform: translate3d(0,200%,0);
        }
    }
    /* &:hover {
        span {
            &:before {
                transform: rotate(90deg);
            } 
            &:after {
                transform: rotate(-90deg);
            }
        }
    } */
    &.close-menu {
        span {
            background: #fff;
            transform: rotate(45deg);
            &:before {
                transform: rotate(180deg);
            }
            &:after {
                transform: rotate(270deg);
            }
        }
        &:hover {
            span {
                background: #fff;
                transform: rotate(180deg);
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.button-menu.active span {
    transform: rotate(45deg);
    &:before {
        transform: rotate(180deg);
    }
    &:after {
        transform: rotate(270deg);
    }
}
@media (max-width: 991px) {
    .header-second {
        .col--search {
            display: none;
        }
        .contact-col {
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
    .block-contact__btn {
        display: block;
        margin-left: 28px;
    }
}
@media (max-width: 767px) {
    .header-second {
        padding: 30px 0 32px;
        .block-contact .block-contact__contact {
            display: none;
        }
    }
}
@media (max-width: 420px) {
    .header-second {
        .header-left {
            flex: 0 0 215px;
            max-width: 215px;
            padding-right: 15px;
        }
    }
}
/*=== end header second ===*/

/*=== begin header third ===*/
.header-third {
    .row {
        justify-content: space-between;
        align-items: center;
    }
    .header-nav {
        padding-bottom: 10px;
        border-bottom: 1px solid #E0E0E0;

    }
}
.btn-catalog {
    background: #423FE0;
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 37px;
    line-height: 37px;
    padding-left: 8px;
    border: 1px solid #423FE0;
    border-radius: 4px;
    cursor: pointer;
    @include link-transition();
    span {
        background: transparent;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        padding-top: 2px;
        border: 2px solid transparent;
        border-radius: 3px;
        margin-right: 6px;
        @include link-transition();
        &::before {
            content: '';
            @include sprite($catalog);
            z-index: 1;
        }
    }
    &:hover {
        background: #302DB6;
        border-color: #302DB6;
        span {
            background: #423FE0;
            border-color: #423FE0;
        }
    }
}
.btn-catalog--mobil {
    display: none;
}
.catalog-dropdown {
    position: absolute;
    top: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: left top;
    @include all-transition();
    &.catalog-show {
        opacity: 1;
        transform: scaleY(1);
        z-index: 50;
    }
    .catalog-menu__inner {
        position: relative;
    }
    .sub-menu--catalog {
        width: 888px;
        top: 0;
        //left: 362px;
        left: 330px;
        //transform: scaleX(0);
        transform-origin: left top;
        opacity: 0;
        visibility: hidden;
        padding-left: 32px;
        z-index: 0;
        @include all-transition();
        &.open {
            transform: scaleX(1);
            opacity: 1;
            z-index: 2;
            visibility: visible;
        }
        .sub-menu__wrapp {
            background: #F5F5F5;
            padding-top: 41px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
            border-radius: 0 8px 8px 0;
        }
        .sub-menu__title {
            font-weight: 600;
            font-size: 2rem;
            color: #423FE0;
            display: block;
            margin-bottom: 30px;
        }
        .catalog-dropdown__close {
            background: transparent;
            border: none;
            position: absolute;
            display: inline-block;
            width: 27px;
            top: 24px;
            right: 20px;
            cursor: pointer;
            &:hover {
                span {
                    &::before, &::after {
                        background: #333;
                    }
                }
            }
            span {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 1px;
                backface-visibility: hidden;
                transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
                &::before, &::after {
                    background: #B4B4B4;
                    position: absolute;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transform-origin: center center;
                    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
                    backface-visibility: hidden;
                }
                &::before {
                    transform: translate3d(0, -200%, 0) rotate(45deg);
                    top: -1px;
                }
                &::after {
                    transform: translate3d(0, 200%, 0) rotate(-45deg);
                    top: -5px;
                }
            }
        }
    }
}
.catalog-menu {
    background: #fff;
    width: 362px;
    height: 722px;
    padding: 34px 31px 30px 31px;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px 0px 0px 8px;
    .catalog-menu__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 37px;
        padding: 0 15px 0 10px;
        border-radius: 4px;
        cursor: pointer;
        @include all-transition();
        /* &:hover {
            .sub-menu--catalog {
                transform: scaleX(1);
                opacity: 1;
                z-index: 2;
            }
        } */
        &:hover, &.active {
            background: #423FE0;
            & > a {
                color: #fff;
            }
            .catalog-menu__btn {
                svg {
                    fill: #fff;
                }
            }
        }
        a {
            font-size: 1.4rem;
            color: #000;
            display: inline-block;
        }
    }
    .catalog-menu__btn {
        position: relative;
        display: inline-block;
        width: 21px;
        padding-left: 10px;
        text-align: right;
        svg {
            width: 13px;
            height: 10px;
            fill: #919191;
            @include all-transition();
        }
    }
}

/*=== main menu ===*/
.main-menu {
    position: relative;
    display: flex;
    width: 90%;
    a {
        @include transition();
        &:hover {
            color: #423FE0;
        }
    }
    & > li {
        margin-right: 42px;
        & > a {
            position: relative;
            font-weight: 600;
            font-size: 1.5rem;
            color: #0E0E0E;
            padding-right: 20px;
            &::after {
                @include  pseudo();
                @include sprite($menu);
                top: 7px;
                right: 0;
            }
        }
        &:hover {
            > a {
                color: #423FE0;
            }
            .sub-menu {
                opacity: 1;
                height: auto;
                transform: scaleY(1);
            }
        }
    }
    .sub-menu {
        width: 100%;
        height: 0;
        top: 100%;
        left: 0;
        padding-top: 20px;
        transform: scaleY(0);
        opacity: 0;
        transform-origin: center top;
    }
}
.sub-menu {
    position: absolute;
    font-size: 1.4rem;
    color: #000;
    line-height: 1.3;
    z-index: 10;
    @include img-transition() ;
    .sub-menu__wrapp {
        background: #fff;
        padding: 29px 30px 25px 35px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 8px 8px;
    }
    strong {
        font-weight: 600;
    }
    a {
        color: #000;
        &:hover {
            color: #423FE0;
        }
    }
}

.catalog-owerlay {
    background: rgba(0,0,0,0.15);
    position: fixed; 
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
    @include all-transition();
    //cursor: pointer;
    border-radius: 50%;
    z-index: 40;
    &.open-owerlay {
        transform: scale(1);
        opacity: 1;
        border-radius: 0;
    }
}
/*=== end header third ===*/
@media (max-width: 1300px) {
    .catalog-dropdown {
        .sub-menu--catalog {
            width: 700px;
        }
        .scroll-box {
            column-count: 3;
        }
    }
}
@media (max-width: 1200px) {
    .catalog-dropdown {
        .sub-menu--catalog {
            width: 560px;
        }
        .scroll-box {
            column-count: 2;
        }
    }
} 
@media (max-width: 1260px) {
    .header-third {
        .header-nav {
            position: relative;
        }
    }
    .main-menu {
        position: static;
    }
}
@media (max-width: 991px) {
    .header-third {
        .col--search {
            display: block;
            flex: 0 0 calc(100% - 255px);
            max-width: calc(100% - 255px);
        }
        .menu-col {
            display: none;
        }
        .header-nav {
            border: none;
        }
    }
    .header-left {
        flex: 0 0 255px;
        max-width: 255px;
        padding-right: 15px;
    }
    .header {
        .mobil-nav {
            background-color: #fff;
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            padding: 0 0 20px;
            margin: 0;
            width: 365px;
            height: 100%;
            transform: translateX(-200%);
            @include img-transition();
            z-index: 999;
            overflow: hidden;
            overflow-y: auto;
            &.open {
                transform: translateX(0);
            }
        }
    }
    .mobil-catalog {
        background: #fff;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        padding: 33px 29px 20px;
        margin: 0;
        width: 365px;
        height: 100%;
        transform: translateX(-200%);
        transition: all 0.5s ease;
        z-index: 999;
        overflow: hidden;
        overflow-y: auto;
        &.catalog-show {
            transform: translateX(0);
        }
        .sub-menu--catalog {
            height: 0;
            transform: scaleY(0);
            transform-origin: left top;
            opacity: 0;
            transition: all 0.5s ease;
            &.open {
                height: auto;
                transform: scaleY(1);
                opacity: 1;
                ul {
                    margin: 33px 0;
                    &:first-child {
                        margin-top: 27px;
                    }
                    li {
                        margin-top: 8px;
                    }
                }
            }
            strong {
                font-weight: 600;
            }
            a {
                color: #000;
                border-bottom: 1px solid transparent;
                @include link-transition();
                &.active, &:hover {
                    color: #423FE0;
                    border-color: #423FE0;
                }
            }
        }
        .mobil-catalog__name {
            font-weight: 500;
            font-size: 2rem;
            color: #000000;
            display: block;
            margin-bottom: 21px;
        }
        .catalog-menu {
            background: transparent;
            width: auto;
            height: auto;
            padding: 0;
            box-shadow: none;
            .catalog-menu__mobil {
                margin-top: 10px;
            }
            .catalog-menu__header {
                background: #F5F5F5;
                font-size: 1.4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 37px;
                padding: 0 15px 0 10px;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.3s ease;
                a, span {
                    font-weight: 600;
                }
                &.active {
                    background: #423FE0;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                    .catalog-menu__btn {
                        svg {
                            fill: #fff;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    .menu-header {
        background: #F5F5F5;
        display: block;
        padding: 35px 29px 20px 28px;
        .top-menu {
            display: none;
        }
        .city {
            padding-top: 15px;
            border-top: 1px solid #E0E0E0;
            margin-top: 26px;
        }
    }
    .main-menu {
        position: relative;
        display: block;
        padding: 10px 15px 0 28px;
        width: 100%;
        .btn-sub {
            position: relative;
            font-weight: 600;
            font-size: 1.5rem;
            color: #423FE0;
            padding-right: 20px;
            &::after {
                @include  pseudo();
                @include sprite($menu);
                top: 7px;
                right: 0;
            }
        }
        & > li {
            margin: 17px 0 0;
            &:not(:first-child) {
                .sub-menu {
                    display: none;
                }
            }
        }
        .sub-menu {
            position: relative;
            max-width: 190px;
            height: auto;
            top: auto;
            left: auto;
            padding-top: 20px;
            transform: scaleY(1);
            opacity: 1;
            padding: 0;
            ul {
                margin: 33px 0;
                &:first-child {
                    margin-top: 20px;
                }
                li {
                   margin: 8px 0; 
                }
            }
        }
    }
    .btn-catalog--desctop {
        display: none;
    }
    .btn-catalog--mobil {
        display: flex;
        height: 45px;
    }
}
@media (max-width: 575px) {
    .header-third {
        .header-left, .col--search {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .header-left {
            order: 1;
            margin-top: 22px;
        }
    }
    .btn-catalog--mobil {
        justify-content: center;
    }
}
@media (max-width: 420px) {
    .mobil-catalog, .header .mobil-nav {
        width: 100%;
    }
}

